<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.hidden_field :site_id, :value => current_site.try(:id) %>

  <div class="field">
    <%= f.submit %>
  </div>
<% end -%>